sandbox-casestudy-bot.json
{
  "name": "Sandbox — Case Study Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "node-tg-trigger",
      "name": "Telegram — Nhận link",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-600, 0],
      "webhookId": "sandbox-casestudy-webhook",
      "credentials": {
        "telegramApi": { "id": "bbNXrNKKuzoTUEFI", "name": "Telegram account 4" }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = ($input.item.json.message?.text || '').trim();\nconst chatId = $input.item.json.message?.chat?.id || '8759066058';\n\nconst urlMatch = text.match(/https?:\\/\\/[^\\s]+/);\nif (!urlMatch) return [];\n\nconst url = urlMatch[0];\nreturn [{ json: { url, chatId, rawText: text } }];"
      },
      "id": "node-extract-url",
      "name": "Trích xuất URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-380, 0]
    },
    {
      "parameters": {
        "chatId": "=8759066058",
        "text": "=⏳ Đang phân tích case study...\n\n🔗 {{ $json.url }}\n\nVui lòng chờ 30-60 giây.",
        "additionalFields": {}
      },
      "id": "node-tg-ack",
      "name": "Telegram — Báo đang xử lý",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-160, -120],
      "credentials": {
        "telegramApi": { "id": "bbNXrNKKuzoTUEFI", "name": "Telegram account 4" }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Trích xuất URL').item.json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36" },
            { "name": "Accept-Language", "value": "vi-VN,vi;q=0.9,en;q=0.8" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "node-fetch",
      "name": "Fetch nội dung trang",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.item.json.body || $input.item.json.data || '';\nconst url = $('Trích xuất URL').first().json.url;\n\nconst title = (html.match(/<title[^>]*>([^<]+)<\\/title>/i) || [])[1] || '';\nconst desc  = (html.match(/<meta[^>]+name=[\"']description[\"'][^>]+content=[\"']([^\"']+)[\"']/i) || \n               html.match(/<meta[^>]+content=[\"']([^\"']+)[\"'][^>]+name=[\"']description[\"']/i) || [])[1] || '';\nconst ogTitle = (html.match(/<meta[^>]+property=[\"']og:title[\"'][^>]+content=[\"']([^\"']+)[\"']/i) || [])[1] || '';\nconst ogDesc  = (html.match(/<meta[^>]+property=[\"']og:description[\"'][^>]+content=[\"']([^\"']+)[\"']/i) || [])[1] || '';\nconst ogImage = (html.match(/<meta[^>]+property=[\"']og:image[\"'][^>]+content=[\"']([^\"']+)[\"']/i) || [])[1] || '';\n\nconst cleanHtml = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 3000);\n\nreturn [{ json: {\n  url,\n  title: ogTitle || title || '',\n  description: ogDesc || desc || '',\n  imageUrl: ogImage || '',\n  content: cleanHtml,\n  source: new URL(url).hostname\n} }];"
      },
      "id": "node-parse-html",
      "name": "Parse HTML → nội dung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [60, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn là chuyên gia phân tích M&A, định giá doanh nghiệp và chiến lược kinh doanh tại Việt Nam, viết cho Sandbox Entrepreneurs Vietnam.\n\nDưới đây là thông tin về một thương vụ/case study quốc tế hoặc trong nước:\n\nTiêu đề: {{ $json.title }}\nMô tả: {{ $json.description }}\nNguồn: {{ $json.source }}\nURL: {{ $json.url }}\nNội dung: {{ $json.content }}\n\nHãy viết một Case Study chuyên sâu 3000-4000 từ theo cấu trúc sau:\n\n## 1. BỐI CẢNH THƯƠNG VỤ\n- Câu chuyện hấp dẫn mở đầu (ai, khi nào, tại sao)\n- Bức tranh ngành và thị trường lúc đó\n- Các bên liên quan chính\n\n## 2. CẤU TRÚC THƯƠNG VỤ\n- Loại giao dịch (M&A / IPO / Gọi vốn / Franchise / Restructure)\n- Con số định giá và phương pháp định giá được dùng\n- Điều khoản chính của thỏa thuận\n- Cấu trúc pháp lý / Holding nếu có\n\n## 3. PHÂN TÍCH — TẠI SAO THÀNH CÔNG HOẶC THẤT BẠI\n- Yếu tố then chốt dẫn đến kết quả\n- Sai lầm nếu có và hậu quả\n- Số liệu kết quả thực tế sau thương vụ\n\n## 4. BÀI HỌC CHO SME VIỆT NAM\n- 3-5 bài học cụ thể, thực tế\n- Áp dụng vào bối cảnh SME Việt Nam như thế nào\n- Những rủi ro cần tránh\n\n## 5. GÓC NHÌN SANDBOX\n- Đánh giá tổng thể từ góc độ tư vấn\n- Nếu doanh nghiệp bạn đang ở giai đoạn này, cần làm gì?\n- CTA nhẹ: liên hệ Sandbox để được tư vấn\n\nYêu cầu:\n- Tone: chuyên nghiệp, phân tích sâu, có số liệu cụ thể\n- Viết bằng tiếng Việt, tự nhiên và dễ đọc\n- KHÔNG sao chép nguyên văn từ nguồn gốc\n- Thêm góc nhìn độc lập của Sandbox\n- Thêm 3 bình luận tích cực ở cuối bài (dạng quote từ chuyên gia/độc giả ẩn danh)\n\nCuối bài thêm đúng 4 dòng:\nTAG: [chọn 1: ma/dinh-gia/holding/thue/thi-truong/ipo/startup]\nTITLE_VI: [tiêu đề Case Study hấp dẫn dưới 80 ký tự]\nEXCERPT: [tóm tắt 1 câu dưới 120 ký tự]\nSOCIAL_POST: [bài đăng Facebook 150-200 ký tự, emoji, kết thúc 👉 sandboxstartup.vn/cases]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [280, 0],
      "id": "node-ai",
      "name": "AI Agent — Viết Case Study"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [280, 240],
      "id": "node-openai",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": { "id": "wpnmL9OAGBFuhz7v", "name": "OpenAI account 4" }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst rawText = item.output || item.text || item.message || JSON.stringify(item);\n\nconst tagMatch     = rawText.match(/TAG:\\s*([\\w-]+)/);\nconst titleMatch   = rawText.match(/TITLE_VI:\\s*(.+)/);\nconst excerptMatch = rawText.match(/EXCERPT:\\s*(.+)/);\nconst socialMatch  = rawText.match(/SOCIAL_POST:\\s*(.+)/);\n\nconst tag        = tagMatch     ? tagMatch[1].trim()     : 'ma';\nconst titleVi    = titleMatch   ? titleMatch[1].trim()   : $('Parse HTML → nội dung').first().json.title;\nconst excerpt    = excerptMatch ? excerptMatch[1].trim() : '';\nconst socialPost = socialMatch  ? socialMatch[1].trim()  : excerpt + '\\n\\n👉 sandboxstartup.vn/cases';\n\nconst cleanBody = rawText\n  .replace(/TAG:\\s*[\\w-]+/g, '')\n  .replace(/TITLE_VI:\\s*.+/g, '')\n  .replace(/EXCERPT:\\s*.+/g, '')\n  .replace(/SOCIAL_POST:\\s*.+/g, '')\n  .trim();\n\nconst now = new Date();\nconst slug = 'case-' + titleVi.toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g,'')\n  .replace(/đ/g,'d').replace(/[^a-z0-9]+/g,'-')\n  .replace(/^-|-$/g,'').slice(0,55)\n  + '-' + now.getFullYear()\n  + (now.getMonth()+1).toString().padStart(2,'0')\n  + now.getDate().toString().padStart(2,'0');\n\nconst dateStr  = now.toLocaleDateString('vi-VN', { day:'2-digit', month:'long', year:'numeric' });\nconst wordCount = cleanBody.split(' ').length;\nconst readTime = Math.ceil(wordCount / 180) + ' phút đọc';\nconst src = $('Parse HTML → nội dung').first().json;\n\nreturn [{ json: {\n  slug,\n  title: titleVi,\n  body: cleanBody,\n  excerpt,\n  tag,\n  type: 'case',\n  date: dateStr,\n  readTime,\n  wordCount,\n  sourceUrl: src.url || '',\n  imageUrl: src.imageUrl || '',\n  status: 'published',\n  views: '0',\n  socialPost\n} }];"
      },
      "id": "node-parse",
      "name": "Parse Case Study",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RDrkq2h8jIsHLCsPLjyKQXZ6SSnOu1rGN-MnamhUeWI",
          "mode": "id"
        },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "News" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "slug":      "={{ $json.slug }}",
            "title":     "={{ $json.title }}",
            "body":      "={{ $json.body }}",
            "excerpt":   "={{ $json.excerpt }}",
            "tag":       "={{ $json.tag }}",
            "type":      "case",
            "date":      "={{ $json.date }}",
            "readTime":  "={{ $json.readTime }}",
            "sourceUrl": "={{ $json.sourceUrl }}",
            "imageUrl":  "={{ $json.imageUrl }}",
            "status":    "published",
            "views":     "0"
          },
          "matchingColumns": ["slug"],
          "schema": [
            { "id": "slug",      "displayName": "slug",      "type": "string" },
            { "id": "title",     "displayName": "title",     "type": "string" },
            { "id": "body",      "displayName": "body",      "type": "string" },
            { "id": "excerpt",   "displayName": "excerpt",   "type": "string" },
            { "id": "tag",       "displayName": "tag",       "type": "string" },
            { "id": "type",      "displayName": "type",      "type": "string" },
            { "id": "date",      "displayName": "date",      "type": "string" },
            { "id": "readTime",  "displayName": "readTime",  "type": "string" },
            { "id": "sourceUrl", "displayName": "sourceUrl", "type": "string" },
            { "id": "imageUrl",  "displayName": "imageUrl",  "type": "string" },
            { "id": "status",    "displayName": "status",    "type": "string" },
            { "id": "views",     "displayName": "views",     "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-sheets",
      "name": "Lưu vào Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [720, 0],
      "credentials": {
        "googleApi": { "id": "5g0fRZYZuLfPFEzg", "name": "Google Service Account account" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/404274129436354/feed",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "message",      "value": "={{ $('Parse Case Study').item.json.socialPost }}" },
            { "name": "access_token", "value": "EAAV4mhBS2TUBRtVCanjlthuChCGuHo6PJo558tcLU6J98OsZBeJTJvE4u3EpypjSFvfAWAwk7ZAoxKhblplRJLLyAtU3wc4Cwxu5CCFgtsE2IxRZBdYXwnil4VrBYnfLX4b5xcRazwdE0HrsPHEHm7uyaXMiUdKPFZCSvyPiNGpUguOeQ1UIcoxZAjjajOLunp8HaAaW3" }
          ]
        }
      },
      "id": "node-fb",
      "name": "Đăng Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, -120]
    },
    {
      "parameters": {
        "chatId": "8759066058",
        "text": "=✅ *CASE STUDY MỚI ĐÃ ĐĂNG*\n\n📚 *{{ $('Parse Case Study').item.json.title }}*\n🏷 Chủ đề: `{{ $('Parse Case Study').item.json.tag }}` · ⏱ {{ $('Parse Case Study').item.json.readTime }}\n📝 {{ $('Parse Case Study').item.json.wordCount }} từ\n\n{{ $('Parse Case Study').item.json.excerpt }}\n\n🌐 sandboxstartup.vn/cases\n📘 Facebook ✅\n📊 Google Sheets ✅",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-tg-done",
      "name": "Telegram — Báo xong",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 120],
      "credentials": {
        "telegramApi": { "id": "bbNXrNKKuzoTUEFI", "name": "Telegram account 4" }
      }
    }
  ],
  "connections": {
    "Telegram — Nhận link":       { "main": [[{ "node": "Trích xuất URL",              "type": "main", "index": 0 }]] },
    "Trích xuất URL":             { "main": [[
      { "node": "Telegram — Báo đang xử lý", "type": "main", "index": 0 },
      { "node": "Fetch nội dung trang",      "type": "main", "index": 0 }
    ]] },
    "Fetch nội dung trang":       { "main": [[{ "node": "Parse HTML → nội dung",       "type": "main", "index": 0 }]] },
    "Parse HTML → nội dung":      { "main": [[{ "node": "AI Agent — Viết Case Study",  "type": "main", "index": 0 }]] },
    "AI Agent — Viết Case Study": { "main": [[{ "node": "Parse Case Study",            "type": "main", "index": 0 }]] },
    "OpenAI Chat Model":          { "ai_languageModel": [[{ "node": "AI Agent — Viết Case Study", "type": "ai_languageModel", "index": 0 }]] },
    "Parse Case Study":           { "main": [[{ "node": "Lưu vào Google Sheets",       "type": "main", "index": 0 }]] },
    "Lưu vào Google Sheets":      { "main": [[
      { "node": "Đăng Facebook",   "type": "main", "index": 0 },
      { "node": "Telegram — Báo xong", "type": "main", "index": 0 }
    ]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
